<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auditoriya</title>
    <link rel="stylesheet" href="../../../public/front/style.css">
</head>
<body>
    <div class="hero">
        <h1>Auditoriya bandligini ta'minlash</h1>
        <div class="center">
            <div class="center-left" id="center-left">
                <form action=""><br>
                    <label for="">Kun</label><br><br>
                    <input type="text" placeholder="kunni kiriting.."><br><br><br>
                    <label for="">Vaqt</label><br><br>
                    <input type="text" placeholder="vaqtni kiriting.."><br><br><br>
                </form>

                <button onclick="mySearch()">
                    Qidirish
                </button>
            </div>
            <div class="center-right" id="center-right">
                <p></p>
            </div>
        </div>
    </div>


    <script src="../../../public/front/main.js"></script>
</body>
</html>
